<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- Site Properties -->
    <title>admin - Spider</title>


    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/reset.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/site.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/container.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/header.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/image.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/menu.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/divider.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/segment.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/form.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/input.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/button.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/list.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/message.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/icon.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/dropdown.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/sidebar.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/transition.min.css}"/>





    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/table.min.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script th:src="@{/trumbowyg/trumbowyg.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/trumbowyg/ui/trumbowyg.min.css}" />



    <script th:src="@{/semantic/components/form.min.js}"></script>
    <script th:src="@{/semantic/components/transition.min.js}"></script>
    <script th:src="@{/semantic/components/visibility.min.js}"></script>
    <script th:src="@{/semantic/components/sidebar.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/main.js}"></script>


</head>
<body>


    <div th:replace="admin/fragments/header :: header('burime')"> </div>


    <div class="bosh">
    </div>



    <div class="ui container" th:object="${editBurim}">

        <h1>Run </h1>

            <th:block th:utext="${editBurim.title}"/>
            <th:block th:utext="${editBurim.url_burimi}"/>
            <th:block th:utext="${editBurim.mp3_domain}"/>


        <hr/>


            <div class="ui buttons center">
                <button class="ui button" href="/admin/burime">Anullo</button>
                <div class="or"></div>
                <button class="ui positive button submit">Start Spider</button>
            </div>


    </div>

    <div th:replace="admin/fragments/footer :: footer"> </div>


</body>

</html>



