<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- Site Properties -->
    <title>admin - Kenget</title>


    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/reset.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/site.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/container.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/header.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/image.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/menu.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/divider.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/segment.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/form.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/input.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/button.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/list.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/message.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/icon.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/dropdown.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/sidebar.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/transition.min.css}"/>


    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/table.min.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script th:src="@{/semantic/components/form.min.js}"></script>
    <script th:src="@{/semantic/components/transition.min.js}"></script>
    <script th:src="@{/semantic/components/visibility.min.js}"></script>
    <script th:src="@{/semantic/components/sidebar.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/main.js}"></script>


</head>
<body>


    <div th:replace="admin/fragments/header :: header('songs')"> </div>



    <div class="bosh">
    </div>



    <div class="ui container">

        <h2 class="ui dividing header">Kenget ne db</h2>

        <div class="example">
            <div class="ui right floated ">
                List e kengeve - <th:block th:utext="${total_songs}"/>
                <a th:if="${#lists.size(terekenget) > 0}" class="red ui right floated button" href="/admin/songs/deleteall">Fshij tere kenget!</a>
            </div>
        </div>


            <table class="ui right aligned table">
                <thead>
                <tr>
                    <th class="left aligned">Id</th>
                    <!--<th>Url</th>-->
                    <th class="left aligned">Titulli</th>
                    <th class="left aligned">Artisti</th>
                    <th>Veprime</th>
                </tr></thead>
                <tbody>

                    <tr th:if="${#lists.isEmpty(terekenget)}" class="btn-warning">
                        <td colspan="4" align="center">Asnje kenge!!!</td>
                    </tr>

                    <tr th:each="song : ${terekenget}">
                        <td class="left aligned" th:text="${song.id}"></td>
                        <td class="left aligned" th:utext="${song.songtitle}"></td>
                        <td class="left aligned" th:utext="${song.artistname}"></td>
                        <td align="center">
                            <a th:href="@{/admin/songs/delete/{id}/{page}/{size}(id=${song.id}, page=${page.number -1},size=${page.size})}">Delete</a>
                        </td>
                    </tr>


                <tfoot th:if="${#lists.size(terekenget) > 0}">
                <tr><th colspan="4">
                    <div class="ui right floated pagination menu">


                        <a class="icon item" th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>
                            <i class="angle double left icon"></i>
                        </a>



                        <a class="icon item" th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>
                            <i class="left chevron icon"></i>
                        </a>



                        <a  th:each='item : ${page.items}'
                            th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'
                            class="item" th:text='${item.number}'
                            th:class="${item.current}? 'item primary ui button' : 'item'"
                            />

                        <a class="icon item" th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>
                            <i class="right chevron icon"></i>
                        </a>


                        <a class="icon item" th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>
                            <i class="angle double right icon"></i>
                        </a>


                    </div>
                </th>
                </tr></tfoot>


                </tbody>
            </table>


    </div>

    <div th:replace="admin/fragments/footer :: footer"> </div>


</body>

</html>



