<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Project informations</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Github project</a>
                        <a href="#" class="item">Issues</a>
                        <a href="#" class="item">Releases</a>
                        <a href="#" class="item">Docker image</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Used components</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Icecast</a>
                        <a href="#" class="item">Liquidsoap</a>
                        <a href="#" class="item">Spring</a>
                        <a href="#" class="item">Java</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Useful links</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Link One</a>
                        <a href="#" class="item">Link Two</a>
                        <a href="#" class="item">Link Three</a>
                        <a href="#" class="item">Link Four</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Radio Press</h4>
                    <p>Your webradio opensource solution.</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img th:src="@{/images/logo.png}" class="ui centered mini image" />
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
</html>