<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header(selectedTab)">

    <!-- Following Menu -->
    <div class="ui large top fixed menu">

        <div class="ui container">

            <a  th:href="@{/}" class="header item">
                <img class="logo" th:src="@{/images/logo.png}"/>
                admin
            </a>

            <a class="item" th:href="@{/admin}" th:classappend="${selectedTab} == 'home' ? 'active' : ''" >Home</a>
            <a class="item" th:href="@{/admin/burime}" th:classappend="${selectedTab} == 'burime' ? 'active' : ''" >Burime</a>
            <a class="item" th:href="@{/admin/songs}" th:classappend="${selectedTab} == 'songs' ? 'active' : ''" >Songs</a>
            <a class="item" th:href="@{/admin/importsongs}" th:classappend="${selectedTab} == 'importsongs' ? 'active' : ''" >Import Songs</a>

            <a class="item" th:href="@{/admin/news}" th:classappend="${selectedTab} == 'news' ? 'active' : ''" >News</a>
            <div class="right item">
                <a class="item" th:href="@{/admin/settings}" th:classappend="${selectedTab} == 'settings' ? 'active' : ''" >Settings</a>
                <a class="item" th:href="@{/admin/account}" th:classappend="${selectedTab} == 'accounts' ? 'active' : ''" >Accounts</a>
                <a class="ui primary submit button" th:href="@{/logout}" >Logout</a>
            </div>


        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item" th:href="@{/admin}" >Home</a>
        <a class="item" th:href="@{/admin/news}" >News</a>
        <a class="item" th:href="@{/admin/settings}">Settings</a>
        <a class="item" th:href="@{/admin/account}">Accounts</a>
        <a class="ui primary submit button" th:href="@{/logout}" >Logout</a>
    </div>



</div>
</html>