<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header(hideTopBar)">

    <!-- Following Menu -->
    <div class="ui large top fixed menu" th:classappend="${hideTopBar}" >

        <div class="ui container">

            <a  th:href="@{/}" class="header item">
                <img class="logo" th:src="@{/images/logo.png}"/>
                crud demo
            </a>

            <a class="active item" th:href="@{/}" >Home</a>
            <a class="item" th:href="@{/about}" >About</a>
            <div class="right item">
                <a class="item" th:href="@{/admin}" th:if="${#authorization.expression('isAuthenticated()')}">Admin</a>

               <a class="ui primary submit button" th:href="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}">logout</a>
               <a class="ui primary submit button" th:href="@{/login}" th:if="${not #authorization.expression('isAuthenticated()')}">login</a>

            </div>

        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item" th:href="@{/}" >Home</a>
        <a class="item" th:href="@{/blog}" >Blog</a>
        <a class="item" th:href="@{/programm}" >Programm</a>
        <a class="item" th:href="@{/about}" >About</a>
        <a class="item" th:href="@{/contact}" >Contact</a>
    </div>



</div>
</html>